#chapter-workspace-container {
    background: white;
    display: inline-block;
    width: 100%;
}

.orange-color-draw-logos{
    color:orange;
    margin-left:52px;
    margin-top:25px;
}

.picker-label{
    color: #00ACC1;
    font-weight:bold;
}

.color-picker{
    background-color: white;
}

.orange-drop{
    color:white;
    background-color: #F57F17;
    font-size: 18px;
    font-weight: bold;
}

#chapter-form {
    padding: 10px;
    padding-top: 15px;
    background-color: #e0e0e0;
    border-right: solid 1px grey;
    float: left;
    height: 100%;
    width: 20%;

}

#page-flow {
    background-color: #e0e0e0;
    border: solid 1px;
    width: 97%;
    margin: 0 auto;
}

#chapter-page-flow {
    padding-left: 10px;
    height: 100%;
    width: 80%;
    float: left;
}

#summary-input {
    height: 350px;
    width: 90%;
}

#title-input {
    height: 40px;
    width: 90%;
}

#save-chapter-button {
    width: 80%;

}

#cancel-chapter-button {
    width: 60%;
}

#chapter-form {
    justify-content: center;
    align-items: center;

}

#search-container {
    padding-top: 25px;

}

#refine-menu-container {
    float: left;
    width: 300px;
    height: 690px;
    background-color: #fff;
}

#refine-menu {
    background-color: gainsboro;
    width: 280px;
    height: 625px;
    border: solid 1px black;
    padding: 20px;
}

#result-container {
    float: left;
    width: 950px;
    height: 690px;
    margin-top:25px;
    margin-left:150px;
}

.center-block- {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.search-result {
    height: 150px;
    width: 925px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: gainsboro;

}

#result-page-menu {
    width: 100px;
    height: 40px;
    background-color: #2e6da4;
    width: 500px;
}

#search-label {
    font-size: large;
    margin-bottom: 20px;
    padding-left: 25px;
}

.result-image-container {
    float: left;
    height: 125px;
    width: 125px;

}

.result-image {
    height: 125px;
    width: 125px;
}

.left-result-container {
    float: left;
    width: 320px;
    padding: 14px;
}

.result-description-container {
    float: left;
    width: 450px;
}

.result-description {
    padding: 20px;
    height: 120px;
    width: 400px;
}

#refine-search-label {

}

.refine-search-item {
    margin-bottom: 20px;
}

.search-radio p {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 2px;
}

#save-chapter-button {
    margin-bottom: 17px;
}

#summary-input {
    resize: none;
}

#cover-upload-container {
    margin-bottom: 30px;
}

#navbar-logo {
    margin: 3px;
    margin-left: 4px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.series-item {
    margin-bottom: 25px;

}

.series-image {
    height: 300px;
    width: 250px;
}

.genre-container {
    width: 100%;
    border-bottom: solid 1px;

}

.genre-list {
    margin-top: 5px;
    margin-bottom: 10px;
}

.genre-list li {
    display: inline;
    text-align: center;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;

}

.genre-list li:hover {
    background-color: darkorange;
    color: white;
}

.series-banner {
    height: 300px;
    background: url('http://placehold.it/1920x400') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 50px;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.chapter-list-container {
    background-color: floralwhite;
}

.series-info-container {
    background-color: gainsboro;
    height: 300px;
}

.chapter-list-header {
    padding-left: 5px;
    padding-top: 0;
    padding-bottom: 0;

}

.chapter-list-item {
    background-color: whitesmoke;
    border: solid 1px black;
    margin-bottom: 20px;
    font-size: 28px;
}

.inline {
    display: inline-block;
}

.pull-right {
    float: right !important;
}

.chapter-date {
    width: 120px;
    background: #f4f4f4;
    padding: 20px;
}

.series-description {
    padding: 10px;
    width: 350px;
    height: 150px;
    margin-bottom: 20px;
}

.series-info-container {
    padding: 20px;
}

.subscribe-button {
    margin-bottom: 10px;
    width: 150px;
}

.start-beginning-button {
    width: 165px;
}

#drawing-container {
    background-color: #888888;
    background-image: url("/resources/images/background-textures/grey_wash_wall.png");
    background-repeat: repeat;
    display: inline-block;
    width: 1300px;
    height: 1407px;
    border: solid dimgrey 1px;
}

#drawing-top-toolbar {
    background-color: whitesmoke;
    height: 35px;
    border-bottom: solid black 1px;
    padding: 4px;

}

#drawing-side-toolbar {
    width: 200px;
    background-color: #c0a16b;
    border-right: solid 2px grey;
    float: left;
    padding: 10px;
}

#drawing-canvas-container {
    /*height: 1307px;*/
    /*width: 800px;*/
    background-color: white;
    float: left;
    border: solid black 2px;
    border-top: 0;
    border-left: 0;
}

.drawing-tool {
    background-color: #66512c;
    width: 180px;
    height: 110px;
    border-bottom: solid #8a6d3b 1px;
    display: inline-block;
}

.color-wheel {
    background-color: #dddddd;
    width: 180px;
    height: 180px;
}

#undo-redo-buttons {
    margin-left: 20px;
}

.toolbar-item {
    float: left;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#brush-width{

}

#brush-width-slider {
    display: inline-block;

}

.brush-width-item {
    float: left;
    padding-right: 2px;
}
#shape-modal {
    width: 500px;
    height: 500px;
    background-color: pink;
    position: absolute;
    margin-top: 700px;
}

.label-item-combo {
    display: inline-block;
}

.label-item {
    float: left;
    padding-right: 4px;
    font-size: small;
}

.chapter-page {
    position:relative;
    background-color: white;
    border: solid 1px black;
    height: 185px;
    width: 150px;
    margin: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
}

.chapter-level {
    border-bottom: solid 1px black;

}

#page-flow {
    background-color: #dddddd;
}

.hidden-page {
    visibility:hidden;
}

.add-page {
    height: 185px;
    width: 150px;
    margin: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: dashed 1px dimgray;
    background-color: rgba(228, 228, 228, 0.69);
}
.chapter-level-bottom {
    /*border: none;*/
}


#svgContainer {

    position:absolute;
    z-axis: -2;

}


#outer{
    margin:0 auto;
    width: 80%;
}

.page-connector {
    stroke: #000;
    fill: none;
    stroke-width:6px;
    margin-left: 0px;
}

.page-options {
    position: absolute;
    width:100%;
    bottom: 0;
    height: 50px;
    display: none;
}

.delete-option {
    position:absolute; top:0; right:0;
    margin: 3px;
}

.edit-option {
    position:absolute; top:0; left:0;
    margin: 3px;
}

.page-glow {
    box-shadow: 0 0 10px #ff0000;
}

.home-item {
    margin-top:134px;
    font-size: 24px;
}
